@model AppUser

<form asp-controller="AppUser" asp-action="Update">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">FirstName</label>
      <input type="text" class="form-control" placeholder="FirstName" asp-for="FirstName">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">LastName</label>
      <input type="text" class="form-control" placeholder="LastName" asp-for="LastName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress2">Password</label>
    <input type="password" class="form-control" placeholder="Password" asp-for="Password">
  </div>
  <div class="form-group">
    <label for="inputAddress2">ProfilePicture</label>
    <input type="text" class="form-control" placeholder="ProfilePicture" asp-for="ProfilePicture">
  </div>
  <div class="form-group">
    <label for="inputAddress2">PhoneNumber</label>
    <input type="text" class="form-control" placeholder="PhoneNumber" asp-for="PhoneNumber">
  </div>
  <div class="form-group">
    <label for="inputAddress2">UserName</label>
    <input type="text" class="form-control" placeholder="UserName" asp-for="UserName">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Email</label>
    <input type="text" class="form-control" placeholder="Email" asp-for="Email">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>