@model Transaction

<table class="table table-striped table dark">
    <tr>
      @*<td><img style="width:150px; height:150px;" class="logo" src="~/EcommerceTemplate/images/@Model.CurrentProduct.Picture" alt="pic" /></td>*@
        <td>@Model.CurrentProduct.Name</td>
        <td>@Model.CurrentProduct.Stock</td>
    </tr>
</table>
<div class="checkout">
    <div class="col-md-4">
        <form asp-controller="Transaction" asp-action="Create" enctype="multipart/form-data">
            <input type="hidden" asp-for="ProductID"/>
            <input type="hidden" asp-for="CurrentProduct.Price"/>
            <input type="hidden" asp-for="CurrentProduct.RewardPoints"/>

      
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" placeholder="Full Name nigga" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" placeholder="lemme get that Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" placeholder="Lemme get yo numba shawt" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityBought" class="control-label"></label>
                <input asp-for="QuantityBought" class="form-control" />
                <span asp-validation-for="QuantityBought" class="text-danger"></span>
            </div>
            <div class="form-group">
            <select asp-for="PayPoints">
                <option value="false">Pay With Card/Cash</option>
                <option value="true">Pay With Points</option>
            </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Buy" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>